{% template "base.tpl" . %}

{% define "content" %}
<form action="" method="POST">
Email:
<input type="email" name="Email" value="">
<br>
Password:
<input type="password" name="Password" value="">
<br><br>

<input type="submit" value="Submit">
</form>
<br/>
<br/>
<br/>


{% end %}


