{% template "base.tpl" . %}

{% define "content" %}

<div ng-controller="AdminListCookiesCtrl">

<div class="ui-widget">

Is user <input type="checkbox" ng-model="is_user" />
<br/>
Is finished <input type="checkbox" ng-model="is_finished" />
<br/>
<button ng-click="submit()">Submit</button>
</div>

<div class="ui-widget">
  <ul ng-repeat="cookie in cookies">
    <li class="cookie">
        <strong >{{cookie.Date}}</strong>
    </li>
  </ul>
</div>


<div id="pagination"></div>
</div>



{% end %}
