{% template "base.tpl" . %}

{% define "content" %}
<div ng-controller="AdminIngredientCtrl">
<div class="ui-widget">
Name: <input ng-model="name">
<br/>

Tags: <input id="tags" size="50"  ng-model="stags">
<br/>
<input custom-on-change="fileUpload" type="file" accept="image/jpeg" class="fileChooser"/>
<br/>
<button ng-click="submit()">Submit</button>
<button ng-click="cancel()">Cancel</button>

</div>
</div>

{% end %}
