{% template "base.tpl" . %}

{% define "content" %}

<form action="/admin/recipes/add">
    <input type="submit" value="Add recipe">
</form>
<div ng-controller="AdminListRecipesCtrl">
<div class="ui-widget">
Name: <input ng-model="name">
<br/>
Tags: <input id="tags" size="50" ng-model="stags"  >
<br/>
Ingredients: <input id="ingredients" ng-model="singredients" size="50" >

<br/>

<button ng-click="submit()">Submit</button>
</div>

<div class="ui-widget">
  <ul ng-repeat="recipe in recipes">
    <li class="recipe">
        <a href="{{'/admin/recipes/'+recipe.Id}}" > <strong >{{recipe.Name}}</strong></a>
        <button ng-click="delete(recipe.Id)">Delete</button>
    </li>
  </ul>
</div>
</div>


<div id="pagination"></div>




{% end %}
