{% template "base.tpl" . %}

{% define "content" %}

<div ng-controller="AdminStatisticsCtrl" class="ui-widget">
Start: <input ng-model="start">
<br/>
End: <input id="tags" size="50"  ng-model="end">
<br/>
<button ng-click="getRecipes()">Recipes</button>
<button ng-click="getProducts()">Products</button>

</div>

{% end %}
