{% template "base.tpl" . %}

{% define "content" %}
<form action="" method="POST">
{%if not .is_new%}
  <input type="hidden" name="_method" value="PUT" />
{%end%}
    <input name="Name" type="text" value="{%.tag.Name%}"></br>
    <input type="submit" value="Submit">
    
</form>

<form action="/admin/tags" method="GET">
    <input type="submit" value="Cancel">
</form>

{% end %}
