{% template "base.tpl" . %}

{% define "content" %}

<div ng-controller="UserSettingsCtrl">
<div class="ui-widget">
Password: <input ng-model="password" type="password">
<br/>
Repead password: <input ng-model="repeat_password" type="password">
<br/>

<button ng-click="submit()">Submit</button>
</div>
</div>


{%end%}
